.stores {
  &__title {
    margin-bottom: 32px;
    @include font(32px, 500, auto);
    text-transform: capitalize;
  }
  &__form {
    width: 100%;
    & button {
      display: none;
    }
  }
  &__list {
    margin: 32px 0;
    padding: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    border-radius: 8px;
    &-filter {
      margin-bottom: 16px;
      padding: 0 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & p {
        margin-right: 24px;
        @include font(14px, 400, 1.5);
      }
    }
  }
}