body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $roboto;
  color: $black;
  box-sizing: border-box;
  
  ul, li, a, img, p, h1 {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
  }
}


.container {
  padding: 0 16px;
  @media (min-width: 1024px){
    padding: 0 40px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}