.map {
  padding: 48px 16px 16px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  box-sizing: border-box;
  // display: none;
  & div {
    width: 100%;
    height: 100%;
    position: relative;
    & .icon__close {
      position: fixed;
      top: 16px;
      right: 16px;
      background-color: none;
      border: none;
      @media (min-width: 1024px){
        display: none;
      }
    }
  }
  @media (min-width: 1024px){
    padding: 0;
    width: 53%;
    height: 540px;
    position: inherit;
  }
}