.footer {
  background-color: $black;
  color: $white;

  &--container{
    padding: 24px 0;
    @media (min-width: 1024px){
      padding: 40px 0;
    }
  }
  
  &__nav {
    @media (min-width: 1024px){
      display: flex;
      justify-content: space-between;
    }
    & .footer__infos, & .footer__help,
      & .footer__about, & .footer__sac {
        @media (min-width: 1024px){
          width: 25%;
        }
      }
  }
  
  &__infos {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    @include font(16px, 700, 1.5);
    text-transform: uppercase;
    border-bottom: 1px solid $gray;
    &-item {
      margin: 8px 0;
      &:last-child {
        margin-bottom: 24px;
      }
      &:first-child {
        @media (min-width: 1024px){
          margin: 0 0 8px;
        }
      }
    }
    @media (min-width: 1024px){
      border-bottom: none;
    }
  }
  
  &__help p, &__about p,
  &__social p , &__payments p {
    @include font(14px, 400, 1.5);
    text-transform: uppercase;
  }

  &__help {
    & p {
      padding: 16px 0;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
      @media (min-width: 1024px){
        padding: 0 0 16px;
        border-top: none;
        border-bottom: none;
      }
    }
    &-list{
      display: none;
      @media (min-width: 1024px){
        padding: 4px 0 16px;
        display: flex;
        flex-direction: column;
      }
      &-item {
        margin: 4px 0;
        @include font(12px, 400, 1.5);
        text-transform: capitalize;
        color: $light-gray;
      }
    }
  }
  
  &__about {
    & p {
      padding: 16px 0;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
      @media (min-width: 1024px){
        padding: 0 0 16px;
        border-top: none;
        border-bottom: none;
      }
    }
    &-list {
      padding: 4px 16px 16px;
      display: flex;
      flex-direction: column;
      @media (min-width: 1024px){
        padding: 4px 0 16px;
      }
      &-item {
        margin: 4px 0;
        @include font(12px, 400, 1.5);
        text-transform: capitalize;
        color: $light-gray;
      }
    }
  }
  
  &__social {
    margin: 24px 0 0;
    & p {
      margin-bottom: 16px;
    }
    &-list {
      display: flex;
    }
    @media (min-width: 1024px){
      margin: 0;
    }
  }
  
  &__payments {
    margin: 24px 0 0;
    border-bottom: 1px solid $gray;
    & p {
      margin-bottom: 16px;
    }
    &-list {
      margin-bottom: 24px;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: 1024px){
      border-bottom: none;
    }
  }
  
  &__final {
    &-others {
      margin: 24px 0 0;
      @include font(12px, 400, 1.5);
      text-transform: capitalize;
      &-list {
        display: flex;
        justify-content: space-between;
        color: $light-gray;
      }
      &--rights {
        text-align: center;
        color: $gray;
        @media (min-width: 1024px){
          text-align: end;
        }
      }
      @media (min-width: 1024px){
        width: 38%;
      }
    }
    @media (min-width: 1024px){
      margin: 0 40px;
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $gray;
    }
  }
}